player-connection-mode=Listen
player-connection-guid=2828550760
player-connection-debug=0
player-connection-project-name=New Unity Project
player-connection-ip=192.168.0.107
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=Oculus
hdr-display-enabled=0
